<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>曹操财经</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">

​	<h2>曹操财经</h2>

​	<a target="_blank" href="https://etherscan.io/token/0x113f0807a2557f54478a13219B097b5FA85CEA7f">曹操发行总量：1000万枚</a>

​    </div>
    <!-- built files will be auto injected -->
  </body>
</html>


